* {
    box-sizing: border-box;
    margin: 0;
  }

  .header {
    background-color: rgb(107, 171, 255);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-container {
    width: 100%;
    background-color: rgb(107, 171, 255);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .article-card {
    border: 2px solid rgb(152, 172, 242);
    border-radius: 10px;
    width: 500px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    box-shadow: 2px 2px 5px rgb(127, 122, 196) ;
  }

  .article-image {
    width: 300px;
  }
 
  .article-info {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
  }
  
  .article-info li {
    padding: 5px;
  }

  .individual-article {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
    padding: 30px;
  }

  .articleAuthor {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .individual-article-image {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .comment-header {
    align-self: center;
  }
  .comment-container {
    padding-top: 30px;
  }

  .comment-card {
    border: 2px solid rgb(152, 172, 242);
    border-radius: 10px;
    width: 800px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    box-shadow: 2px 2px 5px rgb(127, 122, 196) ;
  }

  .comment-info li {
    padding: 3px;
    list-style: none;
  }

  .comment-info > li > #votes {
    padding-top: 10px;
  }

  Navbar {
    justify-content: center;
  }
  
  .voteCounter {
    padding-top: 20px;
  }
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }